
[extruder]
step_pin: E_STEP
dir_pin: !E_DIR
enable_pin: !E_ENABLE
rotation_distance: 22.6005                                          # See calibrating rotation_distance on extruders doc
gear_ratio: 50:10                                                   # For Mini Afterburner
microsteps: 32
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: umb:E_HEATER
## Revo Voron uses ATC Semitec 104NT-4-R025H42G
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: umb:E_TEMPERATURE
pullup_resistor: 2200
control: pid
pid_Kp=34.843
pid_Ki=3.872
pid_Kd=78.395

min_temp: 0
max_temp: 270
min_extrude_temp: 170
max_extrude_only_distance: 150
max_extrude_cross_section: 0.8
pressure_advance: 0.0                                              
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: UART_RX
tx_pin: UART_TX
uart_address: 3
interpolate: False
## For LDO LDO 36STH20-1004AHG 1A 1.8° 
run_current: 0.6 # for LDO 36STH20-1004AHG
sense_resistor: 0.110
stealthchop_threshold: 0                                            # Set to 0 for spreadcycle, avoid using stealthchop on extruder
