[extruder]
rotation_distance: 4.660
microsteps: 16
full_steps_per_rotation: 200
nozzle_diameter: 0.4
filament_diameter: 1.750
max_extrude_only_distance: 500
max_extrude_only_velocity: 120

max_extrude_cross_section: 5

pressure_advance: 0.039 #0.038 is good too
pressure_advance_smooth_time: 0.02

min_temp: 10
max_temp: 355
max_power: 1.0
min_extrude_temp: 172

step_pin: nhk:gpio23
dir_pin: !nhk:gpio24
enable_pin: !nhk:gpio25
heater_pin: nhk:gpio9
sensor_pin: nhk:gpio29
sensor_type: PT1000
pullup_resistor: 2200

filament_density = 1.20
filament_heat_capacity = 1.8
control = mpc
heater_power: 80  
cooling_fan: fan

block_heat_capacity: 20.6281
sensor_responsiveness: 0.0894855
ambient_transfer: 0.127151
fan_ambient_transfer: 0.127151, 0.144872, 0.157038, 0.158037, 0.168137, 0.176604, 0.175265

# Finished MPC calibration of heater 'extruder'
# Measured:
# block_heat_capacity=20.6281 [J/K]
# sensor_responsiveness=0.0894855 [K/s/K]
# ambient_transfer=0.127151 [W/K]
# fan_ambient_transfer=0.127151, 0.144872, 0.157038, 0.158037, 0.168137, 0.176604, 0.175265 [W/K]

#control: pid_v
#pid_kp: 24.308
#pid_ki: 1.187
#pid_kd: 124.427

[tmc2209 extruder]
uart_pin: nhk:gpio0
tx_pin: nhk:gpio1
interpolate: True
run_current: 0.50 #0.85 max
sense_resistor: 0.110
stealthchop_threshold: 0
